#Smash{
    width: 17vw;
    display: absolute;
    left: 50%;
    margin-right: -50%;
}

nav{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    height: 14vh;
    background-color: black;
}