#Smash{
    width: 17vw;
    position: relative;
    top: -69px;
}

nav{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    height: 14vh;
    background-color: black;
}