#Smash{
    height: 90px;
    width: 70vw;
    position: relative;
    top: -50px;
}

nav{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    height: 14vh;
    background-color: black;
}