input{
    border: none;
    border-radius: 3px;
    background-color: whitesmoke;
    height: 50px;
    width: 300px;
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 15px;
    opacity: 0.9;
}
input:focus{
    outline: none;
    background-color: white;
    color: black;
    opacity: 0.7;
}

#authButton {
    margin-top: 1em;
    margin-bottom: 1em;
    border: none;
    height: 50px;
    width: 200px;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    opacity: 0.9;
}
button:focus{
    outline-color: black;
}

.wrapper{
    background-image: url('../assets//smashLogo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    height: 86vh;
}

/* test */